*{
	font-size: 12px;
}
.row {
	position: relative;
}
.cursor-default {
	cursor: default;
}

html, body, .full-height, #content, #editor #result {
	height: 100%;
}
#content, #editor {
	overflow: hidden;
}

#menu-bar {
    height: 40px;
	padding: 5px;
}
#menu-bar #logo {
    margin-top: 3px;
}
#menu-bar #logo .logo-label {
    font-size: 17px;
    color: #777;
    font-weight: bold;
    padding: 3px 15px;
    font-family: arial black;
    text-decoration: none;
}
#editor {
    height: calc(100% - 70px);
}
#editor #code {
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
    margin: 0px;
}
#editor #result {
	background: #f3f3f3;
	font-family: arial;
	padding-top: 5px;
	overflow: auto;
    word-break: break-all;
}
#status-bar {
    height: 30px;
	background: #337ab7;
	display: inline-block;
	width: 100%;
	color: #fff;
	padding: 5px 10px;
}
#status-bar .ace_status-indicator {
	color: #eee;
	float: right;
	font-weight: bold;
}