*{
	font-size: 12px;
}
iframe, #code{
	height: 100%;
	position: absolute;
	top: 0px;
	width: 50%;
	border: none;
}
iframe {
    right: 0;
	background: #f3f3f3;
}
#code {
    margin: 0;
    top: 0;
    bottom: 0;
	left: 0px;
}